@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color: #34cfda;
    --secondary-color: lightcoral;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 100px;
}

p {
    margin-top: 10px;
}

input {
    margin-top: 30px;
    outline: auto;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
}

.button {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 32px;
}

a {
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--primary-color);
    font-weight: normal;
    line-height: 25px;
    border-radius: 8px;
    color: white;
    display: block;
    width: 115px;
    height: 25px;
    text-align: center;
    padding: 5px;
}
.button:hover {
    cursor: pointer;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: var(--secondary-color);
    padding: 8px 32px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}