<!DOCTYPE html>
<html>
    <head>

        {% block head%}
            <title>A simple CRUD in NodeJS</title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">

    </head>
    <body>
        <h3>This is a CRUD</h3>
        <p>If you wanna start it, just click this button</p>
        <a href="/user/create">CREATE</a>
    </body>
</html>